:root {
    --kurat420-bg: url(https://cdn.discordapp.com/attachments/468141324906921984/874986058562043984/background.png);
    --kurat420-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/874999698426068992/kurat420-home-icon.png);
    --kurat420-color1: #00d5ce;
    --kurat420-color2: #0a173a;
    --kurat420-color3: #1487b1;
  }
  
  #app-mount .container-1D34oG,
  .app-2rEoOp,
  .bg-h5JY_x,
  .chat-3bRxxu,
  .content-1o0f9g,
  .contentRegionScroller-26nc1e,
  .layer-3QrUeG,
  .members-1998pB > div,
  .scroller-1JbKMe,
  .applicationStore-1pNvnv,
  .scroller-305q3I,
  .sidebar-2K8pFh,
  .standardSidebarView-3F1I7i,
  .wrapper-1F5TKx,
  .wrapper-3NnKdC,
  .wrapper-3vR61M,
  body {
    background: 0 0;
  }
  .container-3w7J-x,
  .members-1998pB,
  .nowPlayingColumn-2sl4cE,
  .privateChannels-1nO12o,
  .sidebar-2K8pFh > .scrollerBase-289Jih,
  .sidebarRegionScroller-3MXcoP {
    background: rgba(47, 49, 54, var(--sides-transp));
  }
  .panels-j1Uci_ {
    background: rgba(41, 43, 47, var(--sides-transp));
  }
  .scroller-1Bvpku,
  .withFrame-haYltI {
    background: rgba(32, 34, 37, var(--sides-transp));
  }
  .scroller-9moviB,
  #app-mount .pageWrapper-1PgVDX,
  .chatContent-a9vAAp,
  .contentRegion-3nDuYy,
  .header-2mZ9Ov::after,
  .peopleColumn-29fq28,
  .stickyHeader-hH_ZLl::after,
  .titleContainer-2CXtJo::after {
    background: rgba(54, 57, 63, var(--chat-transp));
  }
  .container-1r6BKw.themed-ANHk51 {
    background: rgba(54, 57, 63, var(--sides-transp));
  }
  .container-1r6BKw.themed-ANHk51,
  .members-1998pB,
  .nowPlayingColumn-2sl4cE,
  .scroller-1Bvpku,
  .sidebar-2K8pFh,
  .sidebarRegionScroller-3MXcoP,
  .withFrame-haYltI {
    backdrop-filter: blur(var(--sides-blur));
  }
  #app-mount .children-19S4PO:after,
  #app-mount .form-2fGMdU:before {
    display: none;
  }
  .appMount-3lHmkl {
    background: var(--kurat420-bg) center/cover no-repeat;
  }
  .withFrame-haYltI {
    padding-top: 4px;
    margin-top: 0;
  }
  #app-mount .sidebar-2K8pFh {
    border-radius: 0;
  }
  .content-1o0f9g {
    backdrop-filter: blur(5px);
  }
  .header-2mZ9Ov::before,
  .stickyHeader-hH_ZLl::before,
  .titleContainer-2CXtJo::before {
    background: var(--kurat420-bg) center/cover fixed;
  }
  .header-2mZ9Ov::after,
  .header-2mZ9Ov::before,
  .stickyHeader-hH_ZLl::after,
  .stickyHeader-hH_ZLl::before,
  .titleContainer-2CXtJo::after,
  .titleContainer-2CXtJo::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
  }
  
  .searchBar-6Kv8R2 {
    background-color: transparent;
  }
  .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    background-color: transparent;
    border-radius: 20px;
  }
  
  .form-2fGMdU .channelTextArea-rNsIhG .textArea-12jD-V .placeholder-37qJjk {
    color: var(--kurat420-color2);
  }
  
  .scrollableContainer-2NUZem {
    background: linear-gradient(-45deg, var(--kurat420-color3), var(--kurat420-color1));
  }
  
  .container-3baos1 .button-14-BFJ:nth-child(1) .contents-18-Yxp path {
    fill: var(--kurat420-color1);
  }
  
  .container-3baos1 .button-14-BFJ:nth-child(2) .contents-18-Yxp path {
    fill: var(--kurat420-color1);
  }
  
  .container-3baos1 .button-14-BFJ:nth-child(3) .contents-18-Yxp path {
    fill: var(--kurat420-color1);
  }
  
  .container-3baos1 .button-14-BFJ:nth-child(4) .contents-18-Yxp path {
    fill: var(--kurat420-color1);
  }
  .sprite-2iCowe {
    filter: hue-rotate(150deg) !important;
  }
  .attachButton-2WznTc .contents-18-Yxp path {
    fill: var(--kurat420-color2);
  }
  .attachButton-2WznTc:hover .attachButtonPlus-jWVFah {
    fill: var(--kurat420-color2);
  }
  .button-38aScr .contents-18-Yxp path {
    color: var(--kurat420-color1);
  }
  
  .cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
    background-color: var(--kurat420-color1);
    color: var(--kurat420-color2);
    display: inline-block;
    max-width: 650px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: 8px;
    border-radius: 15px;
  }
  
  .homeIcon-FuNwkv path {
    fill: transparent;
  }
  .homeIcon-FuNwkv {
    background: var(--kurat420-home-icon) center/contain no-repeat;
    min-width: 50px;
    min-height: 50px;
  }
  
  .name-uJV0GL {
    color: var(--kurat420-color1);
  }
  .title-29uC1r {
    color: var(--kurat420-color1);
  }
  .children-gzQq2t {
    color: var(--kurat420-color1);
  }
  .headerText-2F0828 {
    color: var(--kurat420-color1);
  }
  .clickable-3rdHwn .icon-22AiRD {
    color: var(--kurat420-color1);
  }
  .clickable-3rdHwn:hover .icon-22AiRD {
    color: var(--darkplus-links);
  }
  
  .linkButtonIcon-Mlm5d6 path {
    color: var(--kurat420-color1);
  }
  .container-lRFx4q {
    background: transparent;
  }
  .item-3HknzM.item-PXvHYJ.themed-OHr7kt {
    color: var(--kurat420-color2);
  }
  .item-3HknzM[aria-label="Add Friend"] {
    color: var(--kurat420-color2) !important;
    background-color: var(--kurat420-color1) !important;
  }
  
  .quickswitcher-3JagVE {
    background-image: var(--kurat420-bg);
  }
  .input-2VB9rf {
    background-color: transparent;
  }
  .scroller-zPkAnE {
    background-color: transparent;
  }
  .input-2VB9rf::placeholder {
    color: var(--kurat420-color2);
  }
  .header-13MUnb {
    color: var(--kurat420-color2);
  }
  .match-38WbBN {
    color: var(--kurat420-color2);
  }
  .note-S--UP5 {
    color: var(--kurat420-color2);
  }
  .miscContainer-2ptJ_C {
    color: var(--kurat420-color2);
  }
  .colorStandard-2KCXvj {
    color: var(--kurat420-color1);
  }
  .anchor-3Z-8Bb {
    color: var(--kurat420-color2);
  }
  .username-2hHyRL {
    color: var(--kurat420-color2);
  }
  .icon-22AiRD {
    color: var(--kurat420-color1);
  }
  .actionButton-uPB8Fs {
    background-color: var(--kurat420-color1);
    color: var(--kurat420-color2);
  }
  
  .actionButton-uPB8Fs:hover {
    background-color: var(--kurat420-color1);
    color: var(--kurat420-color2);
  }
  .actionButton-uPB8Fs.highlight-Lf97TE {
    background-color: var(--kurat420-color1);
  }
  
  .username-31C1TQ {
    color: var(--kurat420-color2);
  }
  
  .wrapper-3D2qGf {
    background-color: transparent;
    border: none;
  }
  .wrapper-3D2qGf:hover,
  .wrapper-3D2qGf.active-1xchHY {
    background-color: transparent !important;
  }
  .wrapper-3D2qGf .inset-3sAvek {
    background-color: transparent;
  }
  .wrapper-3D2qGf .section-2gLsgF {
    background-color: transparent;
  }
  .numberBadge-2s8kKX {
    background-color: var(--kurat420-color1) !important;
    color: var(--kurat420-color2);
  }
  .expandedFolderBackground-1cujaW {
    background-color: transparent;
  }
  .expandedFolderIconWrapper-Huv7rA {
    background-color: #96e6e3;
  }
  .item-2hkk8m {
    background-color: var(--kurat420-color1);
  }
  .acronym-2mOFsV {
    background-color: var(--kurat420-color1);
    color: var(--kurat420-color2);
  }
  .circleIconButton-1QV--U {
    color: var(--kurat420-color2);
    background-color: var(--kurat420-color1);
  }
  .circleIconButton-1QV--U.selected-1JjBPm {
    color: var(--kurat420-color1);
    background-color: var(--kurat420-color2);
  }
  .mention-1f5kbO {
    background-color: var(--kurat420-color1);
  }
  .mentioned-xhSam7 {
    background-color: rgba(var(--kurat420-color1), 0.1) !important;
  }
  .mentioned-xhSam7:before {
    background-color: var(--kurat420-color1);
  }
  .mentioned-xhSam7:hover {
    background-color: rgba(var(--kurat420-color1), 0.2) !important;
  }
  .discriminator-22Okc1 {
    color: var(--kurat420-color2);
  }
  .scroller-3BxosC {
    background-color: var(--kurat420-color1);
  }
  .label-22pbtT {
    color: var(--kurat420-color2);
  }
  .colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--kurat420-color3);
    color: var(--kurat420-color1);
  }
  
  .header-2SF4Nh {
    color: var(--kurat420-color1);
  }
  
  .icon-3cZ1F_ {
    height: 24px;
    width: 24px;
    color: var(--kurat420-color1);
  }
  .iconContainer-O4O2CN {
    bottom: 5px;
  }
  .search-36MZv- {
    margin-left: 0px;
  }
  
  .searchBar-3dMhjb {
    background-color: transparent;
  }
  
  .membersGroup-v9BXpm {
    color: var(--kurat420-color1);
    text-align: center;
  }
  button[aria-label="Send a gift"] {
    display: none;
  }
  
  .typeWindows-1za-n7 {
    position: relative;
  }
  
  .wordmark-2iDDfm {
    display: flex;
    align-items: center;
    padding: 0 6px;
    height: calc(100% + 4px);
    top: -4px;
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    font-family: "Lato";
    color: var(--kurat420-color1);
  }
  .wordmark-2iDDfm > svg {
    display: none;
  }
  .wordmark-2iDDfm:after {
    content: "𝗧𝗵𝗲𝗺𝗲 𝗯𝘆 𝗸𝘂𝗿𝗮𝘁𝟰𝟮𝟬";
  }
  
  .channelName-2YrOjO,
  .subtitle-3V1p2E {
    color: var(--kurat420-color1);
  }
  
  .categoryIcon-1SvUHG {
    color: var(--kurat420-color1);
  }
  .header-19cWci {
    color: var(--kurat420-color1);
  }
  .iconBadge-3qSJIw.participating-1NvRVd {
    background-color: var(--kurat420-color1);
  }
  .botTagRegular-2HEhHi {
    color: var(--kurat420-color2);
    background-color: var(--kurat420-color1);
  }
  .unread-2lAfLh {
    background-color: var(--kurat420-color2);
  }
  .icon-1DeIlz {
    color: var(--kurat420-color1);
  }
  .modeSelected-346R90 .icon-1DeIlz,
  .modeSelected-346R90:hover .icon-1DeIlz,
  .modeUnread-1qO3K1 .icon-1DeIlz,
  .modeUnread-1qO3K1:hover .icon-1DeIlz {
    color: var(--kurat420-color2);
  }
  
  .iconBadge-qZ4Ksk {
    background-color: var(--kurat420-color2);
  }
  
  .resultsGroup-r_nuzN {
    background-image: var(--kurat420-bg);
    color: var(--kurat420-color1);
  }
  .barButtonMain-3K-jeJ {
    background-color: var(--kurat420-color2);
    color: var(--kurat420-color1);
  }
  .barButtonAlt-mYL1lj {
    background-color: var(--kurat420-color2);
    color: var(--kurat420-color1);
  }
  .theme-dark .option-96V44q:after {
    background: transparent;
  }
  #app-mount .container-3ayLPN .option-96V44q .plusIcon-v0BTrL {
    color: var(--kurat420-color1);
  }
  #app-mount .container-3ayLPN .option-96V44q.selected-rZcOL- {
    background: var(--kurat420-color2);
  }
  .overflow-WK9Ogt {
    color: var(--kurat420-color1);
  }
  
  .icon-2yIBmh {
    color: var(--kurat420-color1);
  }
  .actionIcon-PgcMM2 {
    color: var(--kurat420-color1);
  }
  
  .icon-LYJorE {
    color: var(--kurat420-color2);
  }
  
  .accountProfileCard-1XCH88 {
    background-color: var(--kurat420-color1);
  }
  
  .background-1QDuV2 {
    padding: 0;
    background-color: var(--kurat420-color2);
    border-radius: 30px;
  }
  .background-1QDuV2 .profile-1eT9hT {
    padding: 16px;
  }
  .background-1QDuV2 .fieldList-21DyL8 {
    padding: 16px;
    background-color: transparent;
  }
  .background-1QDuV2 .constrainedRow-2GB6Ki .button-38aScr {
    margin-left: 8px;
  }
  
  .defaultColor-1_ajX0 {
    color: var(--kurat420-color2);
  }
  .field-1HUseB > div > div > div {
    filter: blur(5px);
  }
  .field-1HUseB > div > div > div:hover {
    filter: blur(0);
  }
  
  .colorHeaderPrimary-26Jzh- {
    color: var(--kurat420-color1);
  }
  
  .username-2b1r56,
  .discriminator-2C3qJO,
  .overflowMenuIcon-1h7e8s {
    color: var(--kurat420-color2);
  }
  .theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
    color: var(--kurat420-color2);
    background-color: var(--kurat420-color1);
  }
  .theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: var(--kurat420-color1);
  }
  .size16-1P40sf {
    color: var(--kurat420-color1);
  }
  
  .theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
    color: var(--kurat420-color1);
  }
  
  .lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: var(--kurat420-color1);
    background-color: var(--kurat420-color2);
  }
  
  .lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    color: var(--kurat420-color1);
    background-color: var(--kurat420-color2);
  }
  
  .description-3_Ncsb,
  .labelDescriptor-1PqHgD {
    color: var(--kurat420-color2);
  }
  
  .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
  .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    color: var(--kurat420-color1);
  }
  .side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb),
  .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb) {
    color: var(--kurat420-color1);
  }
  .item-PXvHYJ.themed-OHr7kt {
    color: var(--kurat420-color1);
  }
  
  .header-2RyJ0Y {
    color: var(--kurat420-color1);
  }
  
  .theme-dark .closeButton-1tv5uR {
    border-color: var(--kurat420-color1);
  }
  .winButton-iRh8-Z {
    color: var(--kurat420-color2);
  }
  .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
  .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--kurat420-color2);
    color: var(--kurat420-color1);
  }
  #bd-pub-button {
    background-color: var(--kurat420-color2);
    color: var(--kurat420-color1);
    font-weight: bold;
  }
  #bd-pub-button:hover {
    background-color: var(--kurat420-color1);
    color: var(--kurat420-color2);
    font-weight: bold;
  }
  .button-Jt-tIg {
    background-color: var(--kurat420-color2);
    color: var(--kurat420-color1);
    font-weight: bold;
  }
  
  .modeMuted-onO3r- .icon-1DeIlz,
  .modeMuted-onO3r- .name-23GUGE {
    color: #1a2a55;
  }
  .interactive:hover {
    color: var(--kurat420-color2);
  }
  
  .button-1w5pas {
    color: var(--kurat420-color2);
  }
  .emptyCard-1RJw8n {
    background-color: transparent;
  }
  .emptyText-2zjpZr {
    color: var(--kurat420-color2);
  }
  .header-1-dBpZ {
    color: var(--kurat420-color1);
  }
  .description-1EvxpH {
    color: var(--kurat420-color2);
  }
  .theme-dark .text-GwUZgS,
  .theme-dark .title-2BxgL2 {
    color: var(--kurat420-color2);
  }
  .markup-2BOw-j code.inline {
    color: var(--kurat420-color1);
  }
  .markup-2BOw-j a {
    color: var(--kurat420-color2);
  }
  .topic-TCb_qw.expandable-9fI_e3 {
    color: var(--kurat420-color2);
  }
  #private-channels [href="/discovery"] {
    display: none;
  }
  
  #private-channels [href="/library"] {
    display: none;
  }
  
  #private-channels [href="/store"] {
    display: none;
  }
  
  .body-3HBlXn,
  .headerTop-3vNv-a,
  .activity-2INFPu,
  .base-1x0h_U.muted-3-7c5L,
  .note-1oo11U,
  .bodyInnerWrapper-26fQXj,
  .footer-3UKYOU {
    background-image: var(--kurat420-bg);
  }
  
  .grid-1nZz7S {
    background-color: var(--kurat420-color3);
  }
  
  .input-cIJ7To:hover {
    background-color: var(--kurat420-color2);
  }
  
  .input-2_SIlA {
    background-color: var(--kurat420-color2);
  }
  .bodyTitle-1ySSKn {
    color: var(--kurat420-color2);
  }
  
  .base-1x0h_U.muted-3-7c5L,
  .discrimBase-24vY8o {
    color: var(--kurat420-color2);
  }
  .body-r6_QPy,
  .topSection-y3p-_D {
    background-image: var(--kurat420-bg);
  }
  
  .top-28JiJ- .item-PXvHYJ {
    border-bottom-color: var(--kurat420-color1);
  }
  
  .connectedAccountName-E1KzaT,
  .connectedAccountOpenIcon-E5wGF4,
  .userInfoSectionHeader-3TYk6R,
  .discriminator-1swucG,
  .additionalActionsIcon-365LnQ {
    color: var(--kurat420-color2);
  }
  .lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: var(--kurat420-color1);
    color: var(--kurat420-color2);
  }
  .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: var(--kurat420-color1);
  }
  
  .attachment-33OFj0 {
    background-color: var(--kurat420-color1);
    border-color: var(--kurat420-color1);
    border-radius: 20px;
  }
  .downloadButton-23tKQp {
    color: var(--kurat420-color2);
  }
  
  .cozy-3raOZG .timestamp-3ZCmNB,
  .content-1o0f9g,
  .label-2gpUAV {
    color: var(--kurat420-color2);
  }
  .button-1ZiXG9,
  .button-1ZiXG9:hover,
  .button-1ZiXG9.selected-LCBEAU {
    color: var(--kurat420-color2);
    background-color: var(--kurat420-color1);
  }
  .theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
    color: var(--kurat420-color2);
    border-color: var(--kurat420-color2);
    border-radius: 50px;
  }
  
  .h5-18_1nd,
  .icon-JJBzjE,
  .title-31JmR4,
  .person-36TQaZ,
  .roleName-1vjSQR,
  .arrow-2aE8q8,
  .description-2lbkbS,
  .helpText-2stV3Z {
    color: var(--kurat420-color2);
  }
  .circleButton-3RB01i + .circleButton-3RB01i,
  .roleRow-30TwGe:hover:not(.roleRowDisableHover-1HiqqT) .editButton-1V012_,
  .roleRow-30TwGe:hover:not(.roleRowDisableHover-1HiqqT) .circleButton-3RB01i {
    background-color: var(--kurat420-color2);
    color: var(--kurat420-color1);
  }
  .icon-1S6UIr {
    color: var(--kurat420-color1);
  }
  .container-_phMUq {
    background-color: transparent;
  }
  
  .icon-3_8HGa {
    color: var(--kurat420-color1);
    background-color: var(--kurat420-color2);
  }
  
  .input-3Xdcic,
  .medium-1LLV3p.iconLayout-3OgqU3 {
    background-color: var(--kurat420-color2);
  }
  
  .contentWrapper-SvZHNd,
  .categoryList-2Kzf65 {
    background-image: var(--kurat420-bg);
  }
  .header-ywPcAE {
    background-color: transparent;
  }
  .titlePrimary-1jHRGm,
  .titleSecondary-3Dh_RZ {
    color: var(--kurat420-color2);
  }
  .inspector-3LQtX9 {
    background-color: transparent;
  }
  .icon-3jQD8H {
    color: var(--kurat420-color2);
  }
  .unicodeShortcut-15J8Ck {
    color: var(--kurat420-color1);
  }
  .categoryItemDefaultCategorySelected-_HCKoz,
  .categoryItemDefaultCategorySelected-_HCKoz:hover {
    background-color: var(--kurat420-color2);
    color: var(--kurat420-color1);
  }
  
  .navButtonActive-1MkytQ,
  .stickerCategoryRecentIcon-16VgYU {
    background-color: var(--kurat420-color2);
    color: var(--kurat420-color1);
  }
  .navButton-2gQCx- {
    color: var(--kurat420-color1);
  }
  .navButton-2gQCx-:hover {
    color: var(--kurat420-color3);
  }
  .packHeader-NLJ7S5,
  .inspector-S2gM3e,
  .categoryList-xW5xXr {
    background-color: transparent;
  }
  
  .theme-dark .root-1gCeng {
    background-image: var(--kurat420-bg);
  }
  
  .theme-dark .footer-2gL1pp {
    background-color: transparent;
  }
  
  .headerText-2j81og,
  .selectedIcon-DE5J2w,
  .ellipsisText-2EszCb,
  .channelIcon-2xPHJh,
  .channelName-3_Vb6f {
    color: var(--kurat420-color1);
  }
  
  .theme-dark .selected-P8xTeN {
    color: var(--kurat420-color1);
    border-bottom: var(--kurat420-color1);
  }
  
  .card-2Mz_4z,
  .popout-VcNcHB,
  .option-3KoAJB[aria-selected="true"],
  .option-3KoAJB.focused-1T6PE5,
  .option-3KoAJB:focus,
  .option-3KoAJB:hover {
    background-color: var(--kurat420-color2);
  }
  
  .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
  .lookFilled-22uAsw.select-2fjwPw {
    background-color: var(--kurat420-color1);
    color: var(--kurat420-color2);
  }
  
  .header-3msK0M {
    background-image: var(--kurat420-bg);
  }
  
  .container-UC8Ug1,
  .categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
    background-color: var(--kurat420-color2);
  }
  
  .arrow-hynWUl,
  .subtitle-Nw1LLR,
  .title-3w8xhj,
  .footerTitle-2CYZch,
  .avatar-3uk_u9,
  .clear-1pMieT .icon-3cZ1F_,
  .tab-2j5AEF,
  .roundButton-CEHyUp {
    color: var(--kurat420-color1);
  }
  
  .searchHeader-2XoQg7,
  .scroller-3GIiMh,
  .header-ykumBX,
  .messagesPopout-24nkyi,
  .container-3u944p,
  .uploadModal-2ifh8j {
    background-image: var(--kurat420-bg);
  }
  .message-1Ng5AR {
    background-color: var(--kurat420-color2);
  }
  
  .channelName-1JRO3C {
    background-color: transparent;
  }
  .theme-dark .tab-2j5AEF.selected-2LAck8,
  .theme-dark .activeButton-rvKcqq,
  .theme-dark .activeButton-rvKcqq:hover,
  .theme-light .activeButton-rvKcqq,
  .theme-light .activeButton-rvKcqq:hover,
  .endButton-m5h5Sr:last-child {
    background-color: var(--kurat420-color2);
    color: var(--kurat420-color1);
  }
  
  .messageGroupWrapper-o-Zw7G .messageGroupCozy-2iY6cT,
  .theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa,
  .messageContainer-gbhlwo,
  .channelHeader-3Gd2xq {
    background-color: var(--kurat420-color2);
  }
  
  .title-29uC1r,
  .header-2M8_sb,
  .addButtonIcon-2CbG1X,
  .username-3KYl0N,
  .icon-2IuuZd,
  .activityText-yGKsKm,
  .status-1fhblQ,
  .description-2L932D,
  .customText-tY5LJn {
    color: var(--kurat420-color2);
  }
  
  .full-motion .button-1-5Aqk {
    background-color: var(--kurat420-color1);
    color: var(--kurat420-color2);
  }
  
  .theme-dark .footer-3mqk7D {
    background-color: transparent;
  }
  
  .popoutInfo-pKbpvG {
    background-image: var(--kurat420-bg);
  }
  
  .wrapper-2tAnRe {
    color: var(--kurat420-color1);
  }
  
  .users-3kndPl , .total-i6us2n {
    background-color: var(--kurat420-color2);
  }
  
  .unread-1xRYoj {
    background-color: var(--kurat420-color1);
    color: var(--kurat420-color2);
  }
  
  .unreadPill-2HyYtt {
    background-color: var(--kurat420-color1);
  }
  
  .unreadPillCapStroke-7rkHbg {
    color: var(--kurat420-color1);
    fill: var(--kurat420-color1);
  }
  
  .divider-JfaTT5 {
    border-color: var(--kurat420-color1);
  }
  #permissions-modal-wrapper .header, #permissions-modal-wrapper .perm-side, #permissions-modal-wrapper .role-side {
    background-image: var(--kurat420-bg);
  }
  
  .replyBar-1YLQ2F {
    background-color: var(--kurat420-color1);
  }
  .replyLabel-27F26o, .closeIcon-HLoKft {
    color: var(--kurat420-color2);
  }
  
  .theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, .theme-dark .searchOption-zQ-1l6 .answer-1n6g43, .resultsGroup-r_nuzN .header-2N-gMV {
    color: var(--kurat420-color1);
  }
  
  ::-webkit-scrollbar {
    width: 3px !important;
    height: 8px !important;
  }
  
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track-piece {
    border-color: transparent !important;
    background: transparent !important;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    border: none !important;
    background-clip: content-box !important;
    background: var(--kurat420-color1) !important;
  }
  
  ::-webkit-scrollbar-corner {
    visibility: hidden !important;
  }
  
  .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar,
  .scrollerThemed-2oenus.themeHidden-2yP93k
    .scroller-2FKFPG::-webkit-scrollbar-corner,
  .scrollerThemed-2oenus.themeHidden-2yP93k
    .scroller-2FKFPG::-webkit-scrollbar-thumb,
  .scrollerThemed-2oenus.themeHidden-2yP93k
    .scroller-2FKFPG::-webkit-scrollbar-track {
    display: none !important;
  }
  
  ::selection {
    background-color: var(--kurat420-color2);
    color: var(--kurat420-color1);
  }
